.gradle
*/local.properties
local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
*/build
/build
captures/
*.iml
.idea/
*.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
